body {
  padding-top: 150px;
}

.bbb {
  width: 200px;
  height: 200px;
  border: 1px black;
}

.brand {
  background-image: url('../img/hm.png');
  background-repeat: no-repeat;
  background-position: 0 8px;
  color: #000;
  display: block;
  width: 82px;
  height: 100%;
  float: left;
  text-indent: -9999px;
}