{% load staticfiles %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"zh-CN" }}">

    <head>
        {% block meta_tags %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
        {% endblock meta_tags %}
        <title>
            {% block title %}
                Hua Mao
            {% endblock title %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{% static 'products/css/bootstrap.min.css' %}" media="screen">
            <link rel="stylesheet" href="{% static 'products/css/base.css' %}">
        {% endblock stylesheets %}
        <!--[if lt IE 9]>
            <script src="{% static 'base/js/html5shiv.js' %}"></script>
            <script src="{% static 'base/js/respond.min.js' %}"></script>
        <![endif]-->
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <a name="top"></a>
    <body>

        <header>
            {% block header %}
                {% include "products\_navigation.html" %}
            {% endblock header %}
        </header>

        <main>
            {% block content %}
            {% endblock content %}
        </main>

        <footer>    
            {% block footer %}
                {% include "products\_footer.html" %}
            {% endblock footer %}
        </footer>
  
        {% block javascript %}
            <script src="{% static 'products/js/jquery-1.10.2.min.js' %}"></script>
            <script src="{% static 'products/js/bootstrap.min.js' %}"></script>
        {% endblock javascript %}

    </body>

</html>