{% load staticfiles %}
<hr>
<div class="container">
    <p class="lead">
        Let's Go Paperless!<br>
        Take the e-copy leaflets from our local network with your mobile or tablet.
    </p>
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <p>
                1. Connect our Wi-Fi network. ID: Hua Mao Canton Fair<br>
                2. Scan the QR code, or open 192.168.1.100 in your web browser.<br>
                3. Find the products you are interested in, and click "Download".
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <img src="{% static 'products/img/hmqrcode.png' %}">
        </div>
    </div>
    <p class="pull-right">
        <a href="#top">Back to top</a>
    </p>
    <p>
        © 2013 Jiangmen Xinhui Hua Mao Development Co., Ltd.
    </p>
</div>