<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand hidden-xs" href="/">Jiangmen Xinhui Hua Mao Development Co., Ltd.</a>
    <a class="navbar-brand visible-xs" href="/">Hua Mao</a>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        <li><a href="{% url 'products:about' %}">About Us</a></li>
        {% for category in category_list %}
          <li><a href="{% url 'products:category' category.slug %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
  </div>
</nav>